<hr>
<h1>Your advertisement preview below</h1>
<div class="row">
    <div class="table-responsive">
        <table class="table table-active table-bordered table-hover text-center">
            <tr class="table-primary"><th>Property</th><th>Details</th></tr>
            <tr><td>Street</td><td>{{ myForm.street }}</td></tr>
            <tr><td>Number</td><td>{{ myForm.number }}</td></tr>
            <tr><td>City</td><td>{{ myForm.city }}</td></tr>
            <tr><td>Floor</td><td>{{ myForm.floor }}</td></tr>
            <tr><td>Description</td><td>{{ myForm.description }}</td></tr>
            <tr><td>Furniture</td><td>{{ myForm.furniture }}</td></tr>
            <tr><td>Rooms</td><td>{{ myForm.rooms }}</td></tr>
            <tr><td>Pets</td><td>{{ myForm.pets }}</td></tr>
            <tr><td>First Name</td><td>{{ myForm.firstname }}</td></tr>
            <tr><td>Last Name</td><td>{{ myForm.lastname }}</td></tr>
            <tr><td>Phone</td><td>{{ myForm.phone }}</td></tr>
            <tr><td>Email</td><td>{{ myForm.email }}</td></tr>
            <tr><td>Accept</td><td>{{ myForm.accept }}</td></tr>
        </table>

        <div class="form-group row">
            <div class="form-control">
                <button class="btn btn-success" type="submit">Submit</button>
                <button class="btn btn-info fa fa-arrow-left" (click)="previousPage()">Previous</button>
            </div>
        </div>
    </div>
</div>


