<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <a class="navbar-brand" routerLink="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="rentPage1">Page 1 <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="rentPage2">Page 2</a>
      <a class="nav-item nav-link" routerLink="rentPagePreview">Preview</a>
    </div>
  </div>
</nav>