<div class="form-group row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <form #rentForm="ngForm">
                <fieldset class="form-group">
                    <legend>Please fill up your rent post details</legend>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <div class="form-control">
                                <label for="description">תיאור הנכס</label>
                                <input type="text" class="form-control" id="description" name="description" placeholder="תיאור הנכס" [(ngModel)]="this.form2.description" value="{{this.form2.description}}" #desc1="ngModel" required>
                                <div *ngIf="desc1.invalid && (desc1.dirty || desc1.touched)" class="alert alert-danger">
                                    <div *ngIf="desc1.errors?.required">
                                        Description is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-control">
                                <label for="furniture">ריהוט</label>
                                <input type="text" class="form-control" id="furniture" name="furniture" placeholder="ריהוט" [(ngModel)]="this.form2.furniture" value="{{this.form2.furniture}}">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-control">
                                <label for="rooms">מספר חדרים</label>
                                <input type="number" class="form-control" id="rooms" name="rooms" placeholder="מס' חדרים" [(ngModel)]="this.form2.rooms" value="{{this.form2.rooms}}" min="1" #rooms1="ngModel" required>
                                <div *ngIf="rooms1.invalid && (rooms1.dirty || rooms1.touched)" class="alert alert-danger">
                                    <div *ngIf="rooms1.errors?.required">
                                        Rooms number is required
                                    </div>
                                    <div *ngIf="rooms1.errors?.min">
                                        Must be more then zero
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-control">
                                <label for="floor">חיות מחמד</label>
                                <input type="checkbox" class="form-control" id="floor" name="pets" placeholder="חיות מחמד" [(ngModel)]="this.form2.pets" value={{this.form2.pets}}>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-control">
                            <button class="btn btn-primary" aria-hidden="true" (click)="pagePreview()">Preview</button>
                            <button class="btn btn-info fa fa-arrow-right" aria-hidden="true" (click)="nextPage()" [disabled]="rentForm.invalid">Next</button>
                            <!-- <button class="btn btn-success" type="submit">Submit</button> -->
                            <button class="btn btn-success" (click)="saveDetails()">Save</button>
                            <button class="btn btn-danger" type="reset">Reset</button>
                            <button class="btn btn-info fa fa-arrow-left" (click)="previousPage()">Previous</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>

<app-rent-page-preview></app-rent-page-preview>


